@media (max-width:800px) {
  #nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white; /*이거 왜 안먹니*/
    color: black;
  }

  #nav_menu{
    display: none;
  }

  #hamburger_icon{
    display: block;
  }
  
  .hamburger_menu {
    display: block;
  }
}

.hidden {
  display: none;
}

#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: none;
  transition: all 300ms ease;
  background: transparent;
}

#nav:hover {
  background-color: white;
  color: black;
}

#hamburger_menu {
  width: 100%;
  background-color: white;
  z-index: 1000;
}

#hamburger_menu.active {
  display: flex; /* 활성화 시 flex로 표시 */
}


#header{
  padding: 8.5rem 2rem 4rem;
}

#Aboutme, #ARCHIVING {
  padding: 64px 32px;
}

.nav_btn:hover {
  text-decoration-line: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 1px;
}
